# DataBased

In [ ]:
# Databased week 11
install packeages

In [3]:
! pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.4.0-cp312-cp312-win_amd64.whl.metadata (2.0 kB)
Downloading mysql_connector_python-8.4.0-cp312-cp312-win_amd64.whl (14.5 MB)
   ---------------------------------------- 0.0/14.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/14.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/14.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/14.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/14.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/14.5 MB 245.8 kB/s eta 0:00:59
   ---------------------------------------- 0.1/14.5 MB 456.6 kB/s eta 0:00:32
   ---------------------------------------- 0.1/14.5 MB 655.8 kB/s eta 0:00:22
    --------------------------------------- 0.2/14.5 MB 737.3 kB/s eta 0:00:20
    --------------------------------------- 0.2/14.5 MB 835.2 kB/s eta 0:00:18
    --------------------------------------- 0.3/14.5 MB 922.8 kB/s eta 0:00:16
   - -------------------------------------- 0.4/14.5 MB 969.0 kB/s eta 0:00:15
   - -------------------------------------- 0.5/14.5 MB 1.1 MB/s eta 0:00:14
   - -------------------------------------- 0.6/14.5 MB 1.1 MB/s eta 0:00:13
   - -------------------------------------- 0.6/14.5 MB 1.1 MB/s eta 0:00:13
   - -------------------------------------- 0.7/14.5 MB 1.2 MB/s eta 0:00:12
   -- ------------------------------------- 0.8/14.5 MB 1.2 MB/s eta 0:00:12
   -- ------------------------------------- 0.9/14.5 MB 1.3 MB/s eta 0:00:11
   -- ------------------------------------- 1.0/14.5 MB 1.3 MB/s eta 0:00:11
   -- ------------------------------------- 1.0/14.5 MB 1.3 MB/s eta 0:00:11
   -- ------------------------------------- 1.1/14.5 MB 1.3 MB/s eta 0:00:11
   --- ------------------------------------ 1.1/14.5 MB 1.3 MB/s eta 0:00:11
   --- ------------------------------------ 1.2/14.5 MB 1.3 MB/s eta 0:00:11
   --- ------------------------------------ 1.3/14.5 MB 1.4 MB/s eta 0:00:10
   --- ------------------------------------ 1.4/14.5 MB 1.4 MB/s eta 0:00:10
   ---- ----------------------------------- 1.5/14.5 MB 1.4 MB/s eta 0:00:10
   ---- ----------------------------------- 1.6/14.5 MB 1.4 MB/s eta 0:00:10
   ---- ----------------------------------- 1.7/14.5 MB 1.4 MB/s eta 0:00:09
   ---- ----------------------------------- 1.7/14.5 MB 1.4 MB/s eta 0:00:09
   ----- ---------------------------------- 1.8/14.5 MB 1.5 MB/s eta 0:00:09
   ----- ---------------------------------- 1.9/14.5 MB 1.5 MB/s eta 0:00:09
   ----- ---------------------------------- 2.0/14.5 MB 1.5 MB/s eta 0:00:09
   ----- ---------------------------------- 2.0/14.5 MB 1.5 MB/s eta 0:00:09
   ----- ---------------------------------- 2.1/14.5 MB 1.5 MB/s eta 0:00:09
   ------ --------------------------------- 2.2/14.5 MB 1.5 MB/s eta 0:00:09
   ------ --------------------------------- 2.3/14.5 MB 1.5 MB/s eta 0:00:09
   ------ --------------------------------- 2.4/14.5 MB 1.5 MB/s eta 0:00:09
   ------ --------------------------------- 2.4/14.5 MB 1.5 MB/s eta 0:00:09
   ------ --------------------------------- 2.5/14.5 MB 1.5 MB/s eta 0:00:08
   ------- -------------------------------- 2.6/14.5 MB 1.5 MB/s eta 0:00:08
   ------- -------------------------------- 2.6/14.5 MB 1.5 MB/s eta 0:00:08
   ------- -------------------------------- 2.7/14.5 MB 1.5 MB/s eta 0:00:08
   ------- -------------------------------- 2.8/14.5 MB 1.5 MB/s eta 0:00:08
   ------- -------------------------------- 2.8/14.5 MB 1.5 MB/s eta 0:00:08
   ------- -------------------------------- 2.9/14.5 MB 1.5 MB/s eta 0:00:08
   -------- ------------------------------- 2.9/14.5 MB 1.5 MB/s eta 0:00:08
   -------- ------------------------------- 3.0/14.5 MB 1.5 MB/s eta 0:00:08
   -------- ------------------------------- 3.1/14.5 MB 1.5 MB/s eta 0:00:08
   -------- ------------------------------- 3.1/14.5 MB 1.5 MB/s eta 0:00:08
   -------- ------------------------------- 3.2/14.5 MB 1.5 MB/s eta 0:00:08
   --------- ------------------------------ 3.3/14.5 MB 1.5 MB/s eta 0:00:08
   --------- ------------------------------ 3.4/14.5 MB 1.5 MB/s eta 0:00:08
   --------- ------------------------------ 3.5/14.5 MB 1.5 MB/s eta 0:00:08
   --------- ------------------------------ 3.5/14.5 MB 1.5 MB/s eta 0:00:08
   --------- ------------------------------ 3.6/14.5 MB 1.5 MB/s eta 0:00:08
   ---------- ----------------------------- 3.7/14.5 MB 1.5 MB/s eta 0:00:08
   ---------- ----------------------------- 3.8/14.5 MB 1.5 MB/s eta 0:00:08
   ---------- ----------------------------- 3.8/14.5 MB 1.5 MB/s eta 0:00:08
   ---------- ----------------------------- 3.8/14.5 MB 1.5 MB/s eta 0:00:08
   ---------- ----------------------------- 3.8/14.5 MB 1.5 MB/s eta 0:00:08
   ---------- ----------------------------- 3.9/14.5 MB 1.4 MB/s eta 0:00:08
   ---------- ----------------------------- 4.0/14.5 MB 1.4 MB/s eta 0:00:08
   ----------- ---------------------------- 4.0/14.5 MB 1.4 MB/s eta 0:00:08
   ----------- ---------------------------- 4.0/14.5 MB 1.4 MB/s eta 0:00:08
   ----------- ---------------------------- 4.0/14.5 MB 1.4 MB/s eta 0:00:08
   ----------- ---------------------------- 4.1/14.5 MB 1.4 MB/s eta 0:00:08
   ----------- ---------------------------- 4.2/14.5 MB 1.4 MB/s eta 0:00:08
   ----------- ---------------------------- 4.3/14.5 MB 1.4 MB/s eta 0:00:08
   ------------ --------------------------- 4.4/14.5 MB 1.4 MB/s eta 0:00:08
   ------------ --------------------------- 4.4/14.5 MB 1.4 MB/s eta 0:00:08
   ------------ --------------------------- 4.5/14.5 MB 1.4 MB/s eta 0:00:08
   ------------ --------------------------- 4.6/14.5 MB 1.4 MB/s eta 0:00:08
   ------------ --------------------------- 4.6/14.5 MB 1.4 MB/s eta 0:00:07
   ------------- -------------------------- 4.7/14.5 MB 1.4 MB/s eta 0:00:07
   ------------- -------------------------- 4.8/14.5 MB 1.4 MB/s eta 0:00:07
   ------------- -------------------------- 4.9/14.5 MB 1.4 MB/s eta 0:00:07
   ------------- -------------------------- 4.9/14.5 MB 1.4 MB/s eta 0:00:07
   ------------- -------------------------- 5.0/14.5 MB 1.4 MB/s eta 0:00:07
   ------------- -------------------------- 5.1/14.5 MB 1.4 MB/s eta 0:00:07
   ------------- -------------------------- 5.1/14.5 MB 1.4 MB/s eta 0:00:07
   ------------- -------------------------- 5.1/14.5 MB 1.4 MB/s eta 0:00:07
   -------------- ------------------------- 5.1/14.5 MB 1.4 MB/s eta 0:00:07
   -------------- ------------------------- 5.2/14.5 MB 1.4 MB/s eta 0:00:07
   -------------- ------------------------- 5.3/14.5 MB 1.4 MB/s eta 0:00:07
   -------------- ------------------------- 5.4/14.5 MB 1.4 MB/s eta 0:00:07
   --------------- ------------------------ 5.4/14.5 MB 1.4 MB/s eta 0:00:07
   --------------- ------------------------ 5.5/14.5 MB 1.4 MB/s eta 0:00:07
   --------------- ------------------------ 5.6/14.5 MB 1.4 MB/s eta 0:00:07
   --------------- ------------------------ 5.6/14.5 MB 1.4 MB/s eta 0:00:07
   --------------- ------------------------ 5.6/14.5 MB 1.4 MB/s eta 0:00:07
   --------------- ------------------------ 5.7/14.5 MB 1.4 MB/s eta 0:00:07
   --------------- ------------------------ 5.8/14.5 MB 1.4 MB/s eta 0:00:07
   ---------------- ----------------------- 5.8/14.5 MB 1.4 MB/s eta 0:00:07
   ---------------- ----------------------- 5.9/14.5 MB 1.4 MB/s eta 0:00:07
   ---------------- ----------------------- 5.9/14.5 MB 1.4 MB/s eta 0:00:07
   ---------------- ----------------------- 6.0/14.5 MB 1.4 MB/s eta 0:00:07
   ---------------- ----------------------- 6.1/14.5 MB 1.4 MB/s eta 0:00:07
   ----------------- ---------------------- 6.2/14.5 MB 1.4 MB/s eta 0:00:07
   ----------------- ---------------------- 6.3/14.5 MB 1.4 MB/s eta 0:00:06
   ----------------- ---------------------- 6.4/14.5 MB 1.4 MB/s eta 0:00:06
   ----------------- ---------------------- 6.4/14.5 MB 1.4 MB/s eta 0:00:06
   ----------------- ---------------------- 6.5/14.5 MB 1.4 MB/s eta 0:00:06
   ------------------ --------------------- 6.5/14.5 MB 1.4 MB/s eta 0:00:06
   ------------------ --------------------- 6.5/14.5 MB 1.4 MB/s eta 0:00:06
   ------------------ --------------------- 6.6/14.5 MB 1.4 MB/s eta 0:00:06
   ------------------ --------------------- 6.6/14.5 MB 1.4 MB/s eta 0:00:06
   ------------------ --------------------- 6.7/14.5 MB 1.4 MB/s eta 0:00:06
   ------------------ --------------------- 6.7/14.5 MB 1.4 MB/s eta 0:00:06
   ------------------ --------------------- 6.8/14.5 MB 1.4 MB/s eta 0:00:06
   ------------------- -------------------- 6.9/14.5 MB 1.4 MB/s eta 0:00:06
   ------------------- -------------------- 7.0/14.5 MB 1.4 MB/s eta 0:00:06
   ------------------- -------------------- 7.1/14.5 MB 1.4 MB/s eta 0:00:06
   ------------------- -------------------- 7.1/14.5 MB 1.4 MB/s eta 0:00:06
   ------------------- -------------------- 7.2/14.5 MB 1.4 MB/s eta 0:00:06
   -------------------- ------------------- 7.3/14.5 MB 1.4 MB/s eta 0:00:06
   -------------------- ------------------- 7.4/14.5 MB 1.4 MB/s eta 0:00:06
   -------------------- ------------------- 7.5/14.5 MB 1.4 MB/s eta 0:00:06
   -------------------- ------------------- 7.6/14.5 MB 1.4 MB/s eta 0:00:05
   --------------------- ------------------ 7.6/14.5 MB 1.4 MB/s eta 0:00:05
   --------------------- ------------------ 7.7/14.5 MB 1.4 MB/s eta 0:00:05
   --------------------- ------------------ 7.7/14.5 MB 1.4 MB/s eta 0:00:05
   --------------------- ------------------ 7.8/14.5 MB 1.4 MB/s eta 0:00:05
   --------------------- ------------------ 7.8/14.5 MB 1.4 MB/s eta 0:00:05
   --------------------- ------------------ 7.9/14.5 MB 1.4 MB/s eta 0:00:05
   --------------------- ------------------ 7.9/14.5 MB 1.4 MB/s eta 0:00:05
   ---------------------- ----------------- 8.0/14.5 MB 1.4 MB/s eta 0:00:05
   ---------------------- ----------------- 8.1/14.5 MB 1.4 MB/s eta 0:00:05
   ---------------------- ----------------- 8.2/14.5 MB 1.4 MB/s eta 0:00:05
   ---------------------- ----------------- 8.3/14.5 MB 1.4 MB/s eta 0:00:05
   ---------------------- ----------------- 8.3/14.5 MB 1.4 MB/s eta 0:00:05
   ----------------------- ---------------- 8.4/14.5 MB 1.4 MB/s eta 0:00:05
   ----------------------- ---------------- 8.4/14.5 MB 1.4 MB/s eta 0:00:05
   ----------------------- ---------------- 8.5/14.5 MB 1.4 MB/s eta 0:00:05
   ----------------------- ---------------- 8.5/14.5 MB 1.4 MB/s eta 0:00:05
   ----------------------- ---------------- 8.7/14.5 MB 1.4 MB/s eta 0:00:05
   ------------------------ --------------- 8.7/14.5 MB 1.4 MB/s eta 0:00:05
   ------------------------ --------------- 8.8/14.5 MB 1.4 MB/s eta 0:00:05
   ------------------------ --------------- 8.9/14.5 MB 1.4 MB/s eta 0:00:05
   ------------------------ --------------- 8.9/14.5 MB 1.4 MB/s eta 0:00:05
   ------------------------ --------------- 9.0/14.5 MB 1.4 MB/s eta 0:00:04
   ------------------------- -------------- 9.1/14.5 MB 1.4 MB/s eta 0:00:04
   ------------------------- -------------- 9.1/14.5 MB 1.4 MB/s eta 0:00:04
   ------------------------- -------------- 9.1/14.5 MB 1.4 MB/s eta 0:00:04
   ------------------------- -------------- 9.1/14.5 MB 1.4 MB/s eta 0:00:04
   ------------------------- -------------- 9.2/14.5 MB 1.4 MB/s eta 0:00:04
   ------------------------- -------------- 9.2/14.5 MB 1.4 MB/s eta 0:00:04
   ------------------------- -------------- 9.3/14.5 MB 1.4 MB/s eta 0:00:04
   ------------------------- -------------- 9.4/14.5 MB 1.4 MB/s eta 0:00:04
   -------------------------- ------------- 9.5/14.5 MB 1.4 MB/s eta 0:00:04
   -------------------------- ------------- 9.5/14.5 MB 1.4 MB/s eta 0:00:04
   -------------------------- ------------- 9.6/14.5 MB 1.4 MB/s eta 0:00:04
   -------------------------- ------------- 9.6/14.5 MB 1.4 MB/s eta 0:00:04
   -------------------------- ------------- 9.7/14.5 MB 1.4 MB/s eta 0:00:04
   -------------------------- ------------- 9.8/14.5 MB 1.4 MB/s eta 0:00:04
   --------------------------- ------------ 9.8/14.5 MB 1.4 MB/s eta 0:00:04
   --------------------------- ------------ 9.9/14.5 MB 1.4 MB/s eta 0:00:04
   --------------------------- ------------ 10.0/14.5 MB 1.4 MB/s eta 0:00:04
   --------------------------- ------------ 10.0/14.5 MB 1.4 MB/s eta 0:00:04
   --------------------------- ------------ 10.0/14.5 MB 1.4 MB/s eta 0:00:04
   ---------------------------- ----------- 10.1/14.5 MB 1.4 MB/s eta 0:00:04
   ---------------------------- ----------- 10.2/14.5 MB 1.4 MB/s eta 0:00:04
   ---------------------------- ----------- 10.3/14.5 MB 1.4 MB/s eta 0:00:04
   ---------------------------- ----------- 10.3/14.5 MB 1.4 MB/s eta 0:00:03
   ---------------------------- ----------- 10.4/14.5 MB 1.4 MB/s eta 0:00:03
   ---------------------------- ----------- 10.5/14.5 MB 1.4 MB/s eta 0:00:03
   ---------------------------- ----------- 10.5/14.5 MB 1.4 MB/s eta 0:00:03
   ----------------------------- ---------- 10.5/14.5 MB 1.4 MB/s eta 0:00:03
   ----------------------------- ---------- 10.6/14.5 MB 1.4 MB/s eta 0:00:03
   ----------------------------- ---------- 10.7/14.5 MB 1.4 MB/s eta 0:00:03
   ----------------------------- ---------- 10.7/14.5 MB 1.4 MB/s eta 0:00:03
   ----------------------------- ---------- 10.8/14.5 MB 1.4 MB/s eta 0:00:03
   ----------------------------- ---------- 10.8/14.5 MB 1.4 MB/s eta 0:00:03
   ------------------------------ --------- 10.9/14.5 MB 1.4 MB/s eta 0:00:03
   ------------------------------ --------- 10.9/14.5 MB 1.4 MB/s eta 0:00:03
   ------------------------------ --------- 11.0/14.5 MB 1.4 MB/s eta 0:00:03
   ------------------------------ --------- 11.0/14.5 MB 1.3 MB/s eta 0:00:03
   ------------------------------ --------- 11.1/14.5 MB 1.3 MB/s eta 0:00:03
   ------------------------------ --------- 11.1/14.5 MB 1.3 MB/s eta 0:00:03
   ------------------------------ --------- 11.2/14.5 MB 1.3 MB/s eta 0:00:03
   ------------------------------- -------- 11.3/14.5 MB 1.3 MB/s eta 0:00:03
   ------------------------------- -------- 11.3/14.5 MB 1.3 MB/s eta 0:00:03
   ------------------------------- -------- 11.3/14.5 MB 1.3 MB/s eta 0:00:03
   ------------------------------- -------- 11.4/14.5 MB 1.3 MB/s eta 0:00:03
   ------------------------------- -------- 11.4/14.5 MB 1.3 MB/s eta 0:00:03
   ------------------------------- -------- 11.4/14.5 MB 1.3 MB/s eta 0:00:03
   ------------------------------- -------- 11.4/14.5 MB 1.3 MB/s eta 0:00:03
   ------------------------------- -------- 11.5/14.5 MB 1.3 MB/s eta 0:00:03
   ------------------------------- -------- 11.5/14.5 MB 1.3 MB/s eta 0:00:03
   -------------------------------- ------- 11.6/14.5 MB 1.3 MB/s eta 0:00:03
   -------------------------------- ------- 11.7/14.5 MB 1.3 MB/s eta 0:00:03
   -------------------------------- ------- 11.7/14.5 MB 1.3 MB/s eta 0:00:03
   -------------------------------- ------- 11.8/14.5 MB 1.3 MB/s eta 0:00:03
   -------------------------------- ------- 11.8/14.5 MB 1.3 MB/s eta 0:00:03
   -------------------------------- ------- 11.9/14.5 MB 1.3 MB/s eta 0:00:03
   -------------------------------- ------- 11.9/14.5 MB 1.3 MB/s eta 0:00:02
   --------------------------------- ------ 12.0/14.5 MB 1.3 MB/s eta 0:00:02
   --------------------------------- ------ 12.0/14.5 MB 1.3 MB/s eta 0:00:02
   --------------------------------- ------ 12.1/14.5 MB 1.3 MB/s eta 0:00:02
   --------------------------------- ------ 12.1/14.5 MB 1.3 MB/s eta 0:00:02
   --------------------------------- ------ 12.2/14.5 MB 1.3 MB/s eta 0:00:02
   --------------------------------- ------ 12.3/14.5 MB 1.3 MB/s eta 0:00:02
   --------------------------------- ------ 12.3/14.5 MB 1.3 MB/s eta 0:00:02
   ---------------------------------- ----- 12.3/14.5 MB 1.3 MB/s eta 0:00:02
   ---------------------------------- ----- 12.4/14.5 MB 1.3 MB/s eta 0:00:02
   ---------------------------------- ----- 12.5/14.5 MB 1.3 MB/s eta 0:00:02
   ---------------------------------- ----- 12.5/14.5 MB 1.3 MB/s eta 0:00:02
   ---------------------------------- ----- 12.6/14.5 MB 1.3 MB/s eta 0:00:02
   ----------------------------------- ---- 12.7/14.5 MB 1.3 MB/s eta 0:00:02
   ----------------------------------- ---- 12.8/14.5 MB 1.3 MB/s eta 0:00:02
   ----------------------------------- ---- 12.8/14.5 MB 1.3 MB/s eta 0:00:02
   ----------------------------------- ---- 12.9/14.5 MB 1.3 MB/s eta 0:00:02
   ----------------------------------- ---- 13.0/14.5 MB 1.3 MB/s eta 0:00:02
   ------------------------------------ --- 13.1/14.5 MB 1.3 MB/s eta 0:00:02
   ------------------------------------ --- 13.1/14.5 MB 1.3 MB/s eta 0:00:02
   ------------------------------------ --- 13.2/14.5 MB 1.3 MB/s eta 0:00:02
   ------------------------------------ --- 13.2/14.5 MB 1.3 MB/s eta 0:00:01
   ------------------------------------ --- 13.3/14.5 MB 1.3 MB/s eta 0:00:01
   ------------------------------------ --- 13.4/14.5 MB 1.3 MB/s eta 0:00:01
   ------------------------------------- -- 13.4/14.5 MB 1.3 MB/s eta 0:00:01
   ------------------------------------- -- 13.5/14.5 MB 1.3 MB/s eta 0:00:01
   ------------------------------------- -- 13.6/14.5 MB 1.3 MB/s eta 0:00:01
   ------------------------------------- -- 13.6/14.5 MB 1.3 MB/s eta 0:00:01
   ------------------------------------- -- 13.7/14.5 MB 1.3 MB/s eta 0:00:01
   ------------------------------------- -- 13.7/14.5 MB 1.3 MB/s eta 0:00:01
   -------------------------------------- - 13.8/14.5 MB 1.3 MB/s eta 0:00:01
   -------------------------------------- - 13.8/14.5 MB 1.3 MB/s eta 0:00:01
   -------------------------------------- - 13.9/14.5 MB 1.3 MB/s eta 0:00:01
   -------------------------------------- - 14.0/14.5 MB 1.2 MB/s eta 0:00:01
   -------------------------------------- - 14.0/14.5 MB 1.2 MB/s eta 0:00:01
   -------------------------------------- - 14.0/14.5 MB 1.2 MB/s eta 0:00:01
   -------------------------------------- - 14.1/14.5 MB 1.3 MB/s eta 0:00:01
   ---------------------------------------  14.1/14.5 MB 1.2 MB/s eta 0:00:01
   ---------------------------------------  14.2/14.5 MB 1.2 MB/s eta 0:00:01
   ---------------------------------------  14.2/14.5 MB 1.3 MB/s eta 0:00:01
   ---------------------------------------  14.3/14.5 MB 1.3 MB/s eta 0:00:01
   ---------------------------------------  14.3/14.5 MB 1.3 MB/s eta 0:00:01
   ---------------------------------------  14.4/14.5 MB 1.3 MB/s eta 0:00:01
   ---------------------------------------  14.4/14.5 MB 1.3 MB/s eta 0:00:01
   ---------------------------------------  14.4/14.5 MB 1.3 MB/s eta 0:00:01
   ---------------------------------------  14.4/14.5 MB 1.3 MB/s eta 0:00:01
   ---------------------------------------- 14.5/14.5 MB 1.2 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.4.0

In [5]:
import mysql.connector
dbconnection =mysql.connector.connect(
    host='localhost',
    user="root",
    password="",
    database ="movies_db"
)
cursor =dbconnection.cursor()
print(dbconnection.database)
#do stuff
cursor.close()
dbconnection.close()

movies_db

## create operations:

In [27]:

import mysql.connector
dbconnection =mysql.connector.connect(
    host='localhost', # instade of localhost we can also use 127.0.0.1 this 
    user="root",
    password="",
    database ="movies_db"
)
cursor=dbconnection.cursor()
query ="INSERT INTO actors(name) VALUES ('kavine Hart')"
cursor.execute(query)
dbconnection.commit()
cursor.close()
dbconnection.close()

In [7]:
import mysql.connector
dbconnection =mysql.connector.connect(
    host='localhost',
    user="root",
    password="",
    database ="movies_db"
)
cursor=dbconnection.cursor()
query ="INSERT INTO actors(name) VALUES(%s);"
data=[["Leonardo Dicaprio"],["Samuel L Jackson"],["Tom Holand"],["Alex Tim"]]
cursor.executemany(query,data)
# also possible 
query ="INSERT INTO movies(title,synopsis) VALUES(%s, %s)"
data =("The Matrix","A computer hacker learns from mysterios rabels about the ture nature of his reality and his role.")
cursor.execute(query,data)

# another 
movies =[("Inception","A theif is hired to "),("Balade","Adector hunts down roque "),
("Star Wars","A farm boy joins a rebellion to overthrow an evil empire"),
("Jurassic Park","Scientis create a theme park with cloned dianosore"),
("Interseller","Planted is messed up, they are")]
#Insert all movie now
cursor=dbconnection.cursor()
for movie in movies:
    cursor.execute(query,movie)

dbconnection.commit()
cursor.close()
dbconnection.close()

### Read Operators

In [29]:
import mysql.connector
dbconnection =mysql.connector.connect(
    host='localhost',
    user="root",
    password="",
    database ="movies_db"
)
cursor =dbconnection.cursor()
query ="SELECT * FROM actors"
cursor.execute(query)
data =cursor.fetchall()
print(data)
print("-------------------------")
#also possible -> cursor.execute(SELECT * FROM actors)
for actor in data:
    print(actor)
print("-------------------------")  
for actor in data:
    print(actor[0])
print("-------------------------")
for actor in data:
    print(actor[1]) # 0 =ID and 1 =NAME
print("-------------------------")
for id,name in data:
    print(name)
cursor.close()
dbconnection.close()

[(1, 'Michelle Yeoh'), (2, 'Stephan James'), (3, 'Jamie Lee Curtis'), (4, 'Tom Cruise'), (5, 'kAVIEN hart'), (6, 'Leonardo Dicaprio'), (7, 'Samuel L Jackson'), (8, 'Tom Holand'), (9, 'Alex Tim'), (10, 'kavine Hart')]
-------------------------
(1, 'Michelle Yeoh')
(2, 'Stephan James')
(3, 'Jamie Lee Curtis')
(4, 'Tom Cruise')
(5, 'kAVIEN hart')
(6, 'Leonardo Dicaprio')
(7, 'Samuel L Jackson')
(8, 'Tom Holand')
(9, 'Alex Tim')
(10, 'kavine Hart')
-------------------------
1
2
3
4
5
6
7
8
9
10
-------------------------
Michelle Yeoh
Stephan James
Jamie Lee Curtis
Tom Cruise
kAVIEN hart
Leonardo Dicaprio
Samuel L Jackson
Tom Holand
Alex Tim
kavine Hart
-------------------------
Michelle Yeoh
Stephan James
Jamie Lee Curtis
Tom Cruise
kAVIEN hart
Leonardo Dicaprio
Samuel L Jackson
Tom Holand
Alex Tim
kavine Hart

In [31]:
import mysql.connector
dbconnection= mysql.connector.connect(
    host='localhost',
    user="root",
    password="",
    database ="movies_db"
)
cursor.dbconnection.cursor()
query =""" select movies.title,actors.name from movies
           inner join movie_actor on movie.id = movie_actor.movie_id
           inner join actors on actors.id =movie_actor.actor_id"""
cursor.execute(query)
data =cursor.fetchall()
for row in data:
    print(row)

for movie, actor in data:
    print(actor,"plays in", movie)
cursor.close()
dbconnection.close()

AttributeError: 'CMySQLCursor' object has no attribute 'dbconnection'

In [32]:
import mysql.connector
db_connection =mysql.connector.connect(
    host='localhost',
    user='root',
    password='',
    database ='movies_db'
)
cursor = dbconnection.cursor()
query = """
SELECT movies.title, actors.name 
FROM movies
INNER JOIN movie_actor ON movies.id = movie_actor.movie_id
INNER JOIN actors ON actors.id = movie_actor.actor_id;
"""
cursor.execute(query)
data = cursor.fetchall()
for movie, actor in data:
    print(actor, "plays in", movie)
cursor.close()
dbconnection.close()

Michelle Yeoh plays in Everything Everywhere All at Once
Stephan James plays in Everything Everywhere All at Once
Jamie Lee Curtis plays in Everything Everywhere All at Once
Tom Cruise plays in Top Gun: Maverick

### check slides for queristring # UPDATA OPERATIONS
lets add the movie jumanji first without a desd

In [21]:
import mysql.connector
dbconnection =mysql.connector.connect(
    host='localhost',
    user="root",
    password="",
    database ="movies_db"
)
cursor =dbconnection.cursor()
# query ="INSERT INTO movies(title) VALUES('Jumanji')"
# cursor.execute(query)
# dbconnection.commit()

query ="""UPDATE movies SET synopsis='Board game 'WHERE title like 'Jumanji'"""
cursor.execute(query)
dbconnection.commit()
cursor.close()
dbconnection.close()

https://en.wikipedia.org/wiki/List_of_Academy_Award%E2%80%93winning_film

In [24]:
import requests 
from bs4 import BeautifulSoup
url="https://en.wikipedia.org/wiki/List_of_Academy_Award%E2%80%93winning_films"
response =requests.get(url)
soup =BeautifulSoup(response.text)

import mysql.connector
dbconnection =mysql.connector.connect(
    host='localhost',
    user="root",
    password="",
    database ="movies_db"
)
cursor =dbconnection.cursor()
table =soup.find("table")
rows =table.find_all("tr")

for row in rows:
    td =row.find_all("td")
    if len(td)>0:
        title =td[0].get_text().strip().replace("'","")
        year =td[1].get_text().strip()
        awards =td[2].get_text().strip()
        nom= td[3].get_text().strip()

        query ="SELECT * FROM movies where title like '"+title+"'"
        print(query)
        cursor.execute(query)
        data=cursor.fetchall()
        if len(data)==0:
            query ="INSERT INTO movies(title) VALUES ('"+title+"')"
            cursor.execute(query)
            dbconnection.commit()
            movie_id=cursor.lastrowid
            query ="INSERT INTO awards(movie_id, awardshow_id,year,awards,nominations) VALUES(%s,%s,%s,%s,%s)"
            values=(movie_id,1,year,awards,nom)
            cursor.execute(query,values)
            dbconnection.commit()
cursor.close()
dbconnection.close()

SELECT * FROM movies where title like 'Oppenheimer'
SELECT * FROM movies where title like 'Poor Things'
SELECT * FROM movies where title like 'The Zone of Interest'
SELECT * FROM movies where title like 'American Fiction'
SELECT * FROM movies where title like 'Anatomy of a Fall'
SELECT * FROM movies where title like 'Barbie'
SELECT * FROM movies where title like 'The Boy and the Heron'
SELECT * FROM movies where title like 'Godzilla Minus One'
SELECT * FROM movies where title like 'The Holdovers'
SELECT * FROM movies where title like 'The Last Repair Shop'
SELECT * FROM movies where title like '20 Days in Mariupol'
SELECT * FROM movies where title like 'War Is Over! Inspired by the Music of John and Yoko'
SELECT * FROM movies where title like 'The Wonderful Story of Henry Sugar'
SELECT * FROM movies where title like 'Everything Everywhere All at Once'
SELECT * FROM movies where title like 'All Quiet on the Western Front'
SELECT * FROM movies where title like 'The Whale'
SELECT * FROM movies where title like 'Top Gun: Maverick'
SELECT * FROM movies where title like 'Black Panther: Wakanda Forever'
SELECT * FROM movies where title like 'Avatar: The Way of Water'
SELECT * FROM movies where title like 'Women Talking'
SELECT * FROM movies where title like 'Guillermo del Toros Pinocchio'
SELECT * FROM movies where title like 'Navalny'
SELECT * FROM movies where title like 'The Elephant Whisperers'
SELECT * FROM movies where title like 'An Irish Goodbye'
SELECT * FROM movies where title like 'The Boy, the Mole, the Fox and the Horse'
SELECT * FROM movies where title like 'RRR'
SELECT * FROM movies where title like 'CODA'
SELECT * FROM movies where title like 'Dune'
SELECT * FROM movies where title like 'The Eyes of Tammy Faye'
SELECT * FROM movies where title like 'No Time to Die'
SELECT * FROM movies where title like 'The Windshield Wiper'
SELECT * FROM movies where title like 'The Long Goodbye'
SELECT * FROM movies where title like 'The Queen of Basketball'
SELECT * FROM movies where title like 'Summer of Soul'
SELECT * FROM movies where title like 'Drive My Car'
SELECT * FROM movies where title like 'Encanto'
SELECT * FROM movies where title like 'West Side Story'
SELECT * FROM movies where title like 'Belfast'
SELECT * FROM movies where title like 'The Power of the Dog'
SELECT * FROM movies where title like 'King Richard'
SELECT * FROM movies where title like 'Cruella'
SELECT * FROM movies where title like 'Nomadland'
SELECT * FROM movies where title like 'The Father'
SELECT * FROM movies where title like 'Judas and the Black Messiah'
SELECT * FROM movies where title like 'Minari'
SELECT * FROM movies where title like 'Mank'
SELECT * FROM movies where title like 'Sound of Metal'
SELECT * FROM movies where title like 'Ma Raineys Black Bottom'
SELECT * FROM movies where title like 'Promising Young Woman'
SELECT * FROM movies where title like 'Tenet'
SELECT * FROM movies where title like 'Soul'
SELECT * FROM movies where title like 'Another Round'
SELECT * FROM movies where title like 'My Octopus Teacher'
SELECT * FROM movies where title like 'Colette'
SELECT * FROM movies where title like 'If Anything Happens I Love You'
SELECT * FROM movies where title like 'Two Distant Strangers'
SELECT * FROM movies where title like 'Parasite'
SELECT * FROM movies where title like 'Ford v Ferrari'
SELECT * FROM movies where title like 'Learning to Skateboard in a Warzone (If Youre a Girl)'
SELECT * FROM movies where title like 'The Neighbors Window'
SELECT * FROM movies where title like 'Little Women'
SELECT * FROM movies where title like 'Marriage Story'
SELECT * FROM movies where title like 'Jojo Rabbit'
SELECT * FROM movies where title like 'Toy Story 4'
SELECT * FROM movies where title like 'Joker'
SELECT * FROM movies where title like 'Once Upon a Time in Hollywood'
SELECT * FROM movies where title like '1917'
SELECT * FROM movies where title like 'Judy'
SELECT * FROM movies where title like 'Bombshell'
SELECT * FROM movies where title like 'Rocketman'
SELECT * FROM movies where title like 'American Factory'
SELECT * FROM movies where title like 'Hair Love'
SELECT * FROM movies where title like 'Green Book'
SELECT * FROM movies where title like 'Bohemian Rhapsody'
SELECT * FROM movies where title like 'Roma'
SELECT * FROM movies where title like 'Black Panther'
SELECT * FROM movies where title like 'The Favourite'
SELECT * FROM movies where title like 'A Star Is Born'
SELECT * FROM movies where title like 'Vice'
SELECT * FROM movies where title like 'BlacKkKlansman'
SELECT * FROM movies where title like 'First Man'
SELECT * FROM movies where title like 'If Beale Street Could Talk'
SELECT * FROM movies where title like 'Bao'
SELECT * FROM movies where title like 'Free Solo'
SELECT * FROM movies where title like 'Period. End of Sentence.'
SELECT * FROM movies where title like 'Skin'
SELECT * FROM movies where title like 'Spider-Man: Into the Spider-Verse'
SELECT * FROM movies where title like 'The Shape of Water'
SELECT * FROM movies where title like 'Dunkirk'
SELECT * FROM movies where title like 'Three Billboards Outside Ebbing, Missouri'
SELECT * FROM movies where title like 'Darkest Hour'
SELECT * FROM movies where title like 'Blade Runner 2049'
SELECT * FROM movies where title like 'Coco'
SELECT * FROM movies where title like 'Phantom Thread'
SELECT * FROM movies where title like 'Call Me by Your Name'
SELECT * FROM movies where title like 'Get Out'
SELECT * FROM movies where title like 'I, Tonya'
SELECT * FROM movies where title like 'Dear Basketball'
SELECT * FROM movies where title like 'A Fantastic Woman'
SELECT * FROM movies where title like 'Heaven Is a Traffic Jam on the 405'
SELECT * FROM movies where title like 'Icarus'
SELECT * FROM movies where title like 'The Silent Child'
SELECT * FROM movies where title like 'Flesh and Sand (Carne y arena)'
SELECT * FROM movies where title like 'Moonlight'
SELECT * FROM movies where title like 'La La Land'
SELECT * FROM movies where title like 'Hacksaw Ridge'
SELECT * FROM movies where title like 'Manchester by the Sea'
SELECT * FROM movies where title like 'Arrival'
SELECT * FROM movies where title like 'Fences'
SELECT * FROM movies where title like 'Fantastic Beasts and Where to Find Them'
SELECT * FROM movies where title like 'The Jungle Book'
SELECT * FROM movies where title like 'O.J.: Made in America'
SELECT * FROM movies where title like 'Piper'
SELECT * FROM movies where title like 'The Salesman'
SELECT * FROM movies where title like 'Sing'
SELECT * FROM movies where title like 'Suicide Squad'
SELECT * FROM movies where title like 'The White Helmets'
SELECT * FROM movies where title like 'Zootopia'
SELECT * FROM movies where title like 'Spotlight'
SELECT * FROM movies where title like 'Mad Max: Fury Road'
SELECT * FROM movies where title like 'The Revenant'
SELECT * FROM movies where title like 'Bridge of Spies'
SELECT * FROM movies where title like 'The Big Short'
SELECT * FROM movies where title like 'The Danish Girl'
SELECT * FROM movies where title like 'Room'
SELECT * FROM movies where title like 'The Hateful Eight'
SELECT * FROM movies where title like 'Ex Machina'
SELECT * FROM movies where title like 'Inside Out'
SELECT * FROM movies where title like 'Amy'
SELECT * FROM movies where title like 'Bear Story'
SELECT * FROM movies where title like 'A Girl in the River: The Price of Forgiveness'
SELECT * FROM movies where title like 'Son of Saul'
SELECT * FROM movies where title like 'Spectre'
SELECT * FROM movies where title like 'Stutterer'
SELECT * FROM movies where title like 'Birdman or (The Unexpected Virtue of Ignorance)'
SELECT * FROM movies where title like 'The Grand Budapest Hotel'
SELECT * FROM movies where title like 'Whiplash'
SELECT * FROM movies where title like 'The Imitation Game'
SELECT * FROM movies where title like 'American Sniper'
SELECT * FROM movies where title like 'Boyhood'
SELECT * FROM movies where title like 'Interstellar'
SELECT * FROM movies where title like 'The Theory of Everything'
SELECT * FROM movies where title like 'Ida'
SELECT * FROM movies where title like 'Selma'
SELECT * FROM movies where title like 'Citizenfour'
SELECT * FROM movies where title like 'Big Hero 6'
SELECT * FROM movies where title like 'Crisis Hotline: Veterans Press 1'
SELECT * FROM movies where title like 'The Phone Call'
SELECT * FROM movies where title like 'Still Alice'
SELECT * FROM movies where title like 'Feast'
SELECT * FROM movies where title like '12 Years a Slave'
SELECT * FROM movies where title like 'Gravity'
SELECT * FROM movies where title like 'Dallas Buyers Club'
SELECT * FROM movies where title like 'Frozen'
SELECT * FROM movies where title like 'The Great Gatsby'
SELECT * FROM movies where title like 'Her'
SELECT * FROM movies where title like 'Blue Jasmine'
SELECT * FROM movies where title like 'Mr Hublot'
SELECT * FROM movies where title like 'The Lady in Number 6'
SELECT * FROM movies where title like 'Helium'
SELECT * FROM movies where title like 'The Great Beauty'
SELECT * FROM movies where title like '20 Feet from Stardom'
SELECT * FROM movies where title like 'Argo'
SELECT * FROM movies where title like 'Life of Pi'
SELECT * FROM movies where title like 'Les Misérables'
SELECT * FROM movies where title like 'Lincoln'
SELECT * FROM movies where title like 'Django Unchained'
SELECT * FROM movies where title like 'Skyfall'
SELECT * FROM movies where title like 'Silver Linings Playbook'
SELECT * FROM movies where title like 'Zero Dark Thirty'
SELECT * FROM movies where title like 'Amour'
SELECT * FROM movies where title like 'Anna Karenina'
SELECT * FROM movies where title like 'Paperman'
SELECT * FROM movies where title like 'Brave'
SELECT * FROM movies where title like 'Searching for Sugar Man'
SELECT * FROM movies where title like 'Inocente'
SELECT * FROM movies where title like 'Curfew'
SELECT * FROM movies where title like 'The Artist'
SELECT * FROM movies where title like 'Hugo'
SELECT * FROM movies where title like 'The Iron Lady'
SELECT * FROM movies where title like 'The Descendants'
SELECT * FROM movies where title like 'The Girl with the Dragon Tattoo'
SELECT * FROM movies where title like 'Midnight in Paris'
SELECT * FROM movies where title like 'The Help'
SELECT * FROM movies where title like 'A Separation'
SELECT * FROM movies where title like 'The Fantastic Flying Books of Mr. Morris Lessmore'
SELECT * FROM movies where title like 'The Shore'
SELECT * FROM movies where title like 'Undefeated'
SELECT * FROM movies where title like 'The Muppets'
SELECT * FROM movies where title like 'Saving Face'
SELECT * FROM movies where title like 'Beginners'
SELECT * FROM movies where title like 'Rango'
SELECT * FROM movies where title like 'The Kings Speech'
SELECT * FROM movies where title like 'Inception'
SELECT * FROM movies where title like 'The Social Network'
SELECT * FROM movies where title like 'The Fighter'
SELECT * FROM movies where title like 'Toy Story 3'
SELECT * FROM movies where title like 'Alice in Wonderland'
SELECT * FROM movies where title like 'Black Swan'
SELECT * FROM movies where title like 'In a Better World'
SELECT * FROM movies where title like 'The Lost Thing'
SELECT * FROM movies where title like 'God of Love'
SELECT * FROM movies where title like 'The Wolfman'
SELECT * FROM movies where title like 'Strangers No More'
SELECT * FROM movies where title like 'Inside Job'
SELECT * FROM movies where title like 'The Hurt Locker'
SELECT * FROM movies where title like 'Avatar'
SELECT * FROM movies where title like 'Precious'
SELECT * FROM movies where title like 'Up'
SELECT * FROM movies where title like 'Crazy Heart'
SELECT * FROM movies where title like 'Inglourious Basterds'
SELECT * FROM movies where title like 'Star Trek'
SELECT * FROM movies where title like 'The Young Victoria'
SELECT * FROM movies where title like 'The Blind Side'
SELECT * FROM movies where title like 'Music by Prudence'
SELECT * FROM movies where title like 'The Secret in Their Eyes'
SELECT * FROM movies where title like 'The Cove'
SELECT * FROM movies where title like 'The New Tenants'
SELECT * FROM movies where title like 'Logorama'
SELECT * FROM movies where title like 'Slumdog Millionaire'
SELECT * FROM movies where title like 'The Curious Case of Benjamin Button'
SELECT * FROM movies where title like 'Milk'
SELECT * FROM movies where title like 'The Dark Knight'
SELECT * FROM movies where title like 'WALL-E'
SELECT * FROM movies where title like 'The Reader'
SELECT * FROM movies where title like 'The Duchess'
SELECT * FROM movies where title like 'Departures'
SELECT * FROM movies where title like 'Vicky Cristina Barcelona'
SELECT * FROM movies where title like 'Smile Pinki'
SELECT * FROM movies where title like 'Man on Wire'
SELECT * FROM movies where title like 'Toyland'
SELECT * FROM movies where title like 'La Maison en Petits Cubes'
SELECT * FROM movies where title like 'No Country for Old Men'
SELECT * FROM movies where title like 'The Bourne Ultimatum'
SELECT * FROM movies where title like 'There Will Be Blood'
SELECT * FROM movies where title like 'La Vie en rose'
SELECT * FROM movies where title like 'Atonement'
SELECT * FROM movies where title like 'Michael Clayton'
SELECT * FROM movies where title like 'Ratatouille'
SELECT * FROM movies where title like 'Juno'
SELECT * FROM movies where title like 'Sweeney Todd: The Demon Barber of Fleet Street'
SELECT * FROM movies where title like 'The Golden Compass'
SELECT * FROM movies where title like 'Elizabeth: The Golden Age'
SELECT * FROM movies where title like 'Taxi to the Dark Side'
SELECT * FROM movies where title like 'Peter & the Wolf'
SELECT * FROM movies where title like 'Once'
SELECT * FROM movies where title like 'Le Mozart des pickpockets'
SELECT * FROM movies where title like 'The Counterfeiters (Die Fälscher)'
SELECT * FROM movies where title like 'Freeheld'
SELECT * FROM movies where title like 'The Departed'
SELECT * FROM movies where title like 'Pans Labyrinth (El laberinto del fauno)'
SELECT * FROM movies where title like 'Dreamgirls'
SELECT * FROM movies where title like 'Little Miss Sunshine'
SELECT * FROM movies where title like 'An Inconvenient Truth'
SELECT * FROM movies where title like 'Babel'
SELECT * FROM movies where title like 'The Queen'
SELECT * FROM movies where title like 'Letters from Iwo Jima'
SELECT * FROM movies where title like 'Pirates of the Caribbean: Dead Mans Chest'
SELECT * FROM movies where title like 'The Danish Poet'
SELECT * FROM movies where title like 'Happy Feet'
SELECT * FROM movies where title like 'The Last King of Scotland'
SELECT * FROM movies where title like 'The Lives of Others (Das Leben der Anderen)'
SELECT * FROM movies where title like 'Marie Antoinette'
SELECT * FROM movies where title like 'West Bank Story'
SELECT * FROM movies where title like 'The Blood of Yingzhou District'
SELECT * FROM movies where title like 'Crash'
SELECT * FROM movies where title like 'Brokeback Mountain'
SELECT * FROM movies where title like 'Memoirs of a Geisha'
SELECT * FROM movies where title like 'King Kong'
SELECT * FROM movies where title like 'Capote'
SELECT * FROM movies where title like 'Walk the Line'
SELECT * FROM movies where title like 'The Constant Gardener'
SELECT * FROM movies where title like 'The Chronicles of Narnia: The Lion, the Witch and the Wardrobe'
SELECT * FROM movies where title like 'Hustle & Flow'
SELECT * FROM movies where title like 'Syriana'
SELECT * FROM movies where title like 'March of the Penguins (La Marche de lempereur)'
SELECT * FROM movies where title like 'Six Shooter'
SELECT * FROM movies where title like 'The Moon and the Son: An Imagined Conversation'
SELECT * FROM movies where title like 'A Note of Triumph: The Golden Age of Norman Corwin'
SELECT * FROM movies where title like 'Tsotsi'
SELECT * FROM movies where title like 'Wallace & Gromit: The Curse of the Were-Rabbit'
SELECT * FROM movies where title like 'Million Dollar Baby'
SELECT * FROM movies where title like 'The Aviator'
SELECT * FROM movies where title like 'Ray'
SELECT * FROM movies where title like 'The Incredibles'
SELECT * FROM movies where title like 'Finding Neverland'
SELECT * FROM movies where title like 'Sideways'
SELECT * FROM movies where title like 'Lemony Snickets A Series of Unfortunate Events'
SELECT * FROM movies where title like 'Spider-Man 2'
SELECT * FROM movies where title like 'Eternal Sunshine of the Spotless Mind'
SELECT * FROM movies where title like 'The Motorcycle Diaries'
SELECT * FROM movies where title like 'The Sea Inside'
SELECT * FROM movies where title like 'Born into Brothels'
SELECT * FROM movies where title like 'Mighty Times: The Childrens March'
SELECT * FROM movies where title like 'Wasp'
SELECT * FROM movies where title like 'Ryan'
SELECT * FROM movies where title like 'The Lord of the Rings: The Return of the King'
SELECT * FROM movies where title like 'Master and Commander: The Far Side of the World'
SELECT * FROM movies where title like 'Mystic River'
SELECT * FROM movies where title like 'Cold Mountain'
SELECT * FROM movies where title like 'Lost in Translation'
SELECT * FROM movies where title like 'Finding Nemo'
SELECT * FROM movies where title like 'The Barbarian Invasions'
SELECT * FROM movies where title like 'Two Soldiers'
SELECT * FROM movies where title like 'Monster'
SELECT * FROM movies where title like 'Harvie Krumpet'
SELECT * FROM movies where title like 'Chernobyl Heart'
SELECT * FROM movies where title like 'The Fog of War'
SELECT * FROM movies where title like 'Chicago'
SELECT * FROM movies where title like 'The Pianist'
SELECT * FROM movies where title like 'The Lord of the Rings: The Two Towers'
SELECT * FROM movies where title like 'Frida'
SELECT * FROM movies where title like 'The Hours'
SELECT * FROM movies where title like 'Road to Perdition'
SELECT * FROM movies where title like 'Adaptation'
SELECT * FROM movies where title like 'Talk to Her (Hable con ella)'
SELECT * FROM movies where title like 'This Charming Man (Der Er En Yndig Mand)'
SELECT * FROM movies where title like 'Spirited Away'
SELECT * FROM movies where title like 'Nowhere in Africa (Nirgendwo in Afrika)'
SELECT * FROM movies where title like 'The ChubbChubbs!'
SELECT * FROM movies where title like 'Twin Towers'
SELECT * FROM movies where title like 'Bowling for Columbine'
SELECT * FROM movies where title like '8 Mile'
SELECT * FROM movies where title like 'A Beautiful Mind'
SELECT * FROM movies where title like 'The Lord of the Rings: The Fellowship of the Ring'
SELECT * FROM movies where title like 'Moulin Rouge!'
SELECT * FROM movies where title like 'Black Hawk Down'
SELECT * FROM movies where title like 'Gosford Park'
SELECT * FROM movies where title like 'Monsters, Inc.'
SELECT * FROM movies where title like 'Pearl Harbor'
SELECT * FROM movies where title like 'Iris'
SELECT * FROM movies where title like 'Shrek'
SELECT * FROM movies where title like 'Training Day'
SELECT * FROM movies where title like 'Monsters Ball'
SELECT * FROM movies where title like 'Thoth'
SELECT * FROM movies where title like 'For the Birds'
SELECT * FROM movies where title like 'No Mans Land'
SELECT * FROM movies where title like 'Murder on a Sunday Morning (Un coupable idéal)'
SELECT * FROM movies where title like 'The Accountant'
SELECT * FROM movies where title like 'Gladiator'
SELECT * FROM movies where title like 'Crouching Tiger, Hidden Dragon'
SELECT * FROM movies where title like 'Traffic'
SELECT * FROM movies where title like 'Erin Brockovich'
SELECT * FROM movies where title like 'Almost Famous'
SELECT * FROM movies where title like 'Wonder Boys'
SELECT * FROM movies where title like 'How the Grinch Stole Christmas'
SELECT * FROM movies where title like 'U-571'
SELECT * FROM movies where title like 'Pollock'
SELECT * FROM movies where title like 'Father and Daughter'
SELECT * FROM movies where title like 'Into the Arms of Strangers: Stories of the Kindertransport'